@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

.form-title{
    text-align: center;
    font-family: Bebas-Neue,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.form-label{
    text-align: center;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-input-field{
    display: flex;
    width: auto;
    background-color: beige;
    border:none;
    border-radius: 5px;
    margin: auto;
    padding:20px;
}

.form-section{
    justify-content: center;
}

.center-button{
    text-align: center;
}

.create-account-button{
background-color:rgb(119, 0, 255);
color:white;
padding:10px;
border:none;
border-radius: 5px;
cursor:pointer;
margin-top: 15px;
font-family:Lato,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-transform: uppercase;
letter-spacing: 3px;
font-size:15px;
}

.login-link{
    text-decoration: none;
    font-weight: 700;
}