@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,400;0,700;1,400&family=Lobster&display=swap');

.productName{
font-family: "Bebas Neue",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 16px;
font-weight: 400;
transform: uppercase;
letter-spacing: 3px;
}

.add-to-cart-button{
    background-color:rgb(119, 0, 255);
color:white;
padding:10px;
border:none;
border-radius: 5px;
cursor:pointer;
margin-top: 15px;
font-family:"Bebas Neue",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-transform: uppercase;
letter-spacing: 3px;
font-size:15px;
}

.products-area{
    display: flex;
    justify-content: space-evenly;
}

.productDescription{
    font-family: "Lato",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 400;
};